Найти:
<input ng-model="myQuery"><br><br>
Отфильтровать по типу
<select ng-model="type">
	<option value="grass">grass</option>
	<option value="electric">electric</option>
	<option value="normal">normal</option>
	<option value="grass">fire</option>
	<option value="water">water</option>
</select><br/><br/>

Сортировать по:
<select ng-model="myOrderProperty" ng-change="direction()" ng-options="item as item.title for item in pockemonOpt track by item.id">
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | orderBy: sortOpt:sortRevers">
        <img src="{{pokemon.ThumbnailImage}}">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="pokemon.type[0]">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>